[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
uvicorn = "*"
drf-spectacular = "*"
drf-spectacular-sidecar = "*"

[requires]
python_version = "3.10"

[scripts]
django = "python manage.py runserver"

[dev-packages]
whitenoise = "*"
